
{% block file_widget %}
    {% spaceless %}
        {% if image_url is not null %}
            <p><img src="{{ image_url }}"/></p>
        {% endif %}
        {% if file_info is not null %}
            <pre><b>fileInfo</b> {{ file_info }} <label><input type="checkbox" name="unlinkFiles[{{ name }}]"> unlink</label></pre>
        {% endif %}

        {{ block('form_widget') }}

    {% endspaceless %}
{% endblock %}


